@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
